// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root{
    --ion-color-dark-button-background: #333333;
    --ion-color-dark-button-text: #ffffff;
    --ion-color-dark-border: #383838;
}