ion-icon{
    font-size: 20px;
    color: white;
}

#name{
color: white;
margin: 20px;
}

form{
    padding: 2rem;
}

ion-input{
    --color: #fff;
    --placeholder-color: #ddd;
    --placeholder-opacity: 0.8;
}

.btn{
    --background: var(--ion-color-dark-button-background);
    --color: var(--ion-color-dark-button-text);
}

